<mat-card *ngIf="load">
    <mat-card-content>
        <h1>Edit User</h1>
        <form [formGroup]="editForm" (submit)="updateUser()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="John Doe" 
                    formControlName="username">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="asd@asd.com" 
                    formControlName="email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <input matInput placeholder="12345678" 
                    formControlName="phone">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>
            <button mat-raised-button color="primary" class="btn">Edit</button>
        </form>
    </mat-card-content>
</mat-card>
